/*paleta de colores
#F2D7D9 #D3CEDF #9CB4CC #748DA6 #f1f3f2 #F8BBD0 */
/*font-family: 'Fascinate', cursive;
font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #f1f3f2;
    color:#748DA6;
    text-align: center;
}
h1{
    width: 100%;
    height: 100%;
    justify-self: start;
    background-color: #f1f3f2;
    font-size: 300%;
    font-family: 'Fascinate', cursive;
    padding: 5%;
    color: #748DA6;
    text-align: start;
}
header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "titulo titulo nav";
}
.titulo{
    grid-area: titulo;
}
.navbar{
    width: 100%;
    height: 100%;
    font-size: 110%;
    padding: 5%;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f2;
    grid-area: nav;
    align-items: center;
}
.nav-link{
    transition: all 1s;
}
.nav-link:hover{
    background-color: #748DA6;
}
main{
    width: 100%;
    height: auto;
}
h2{ 
    width: 100%;
    height: auto;
    grid-area: h2;
    font-family: 'Fascinate', cursive;
    text-align: center;
    border: 20px solid #F8BBD0;
    font-size: 200%;
}
h3{
    font-size: 200%;
    font-family: 'Fascinate', cursive;
    text-align: left;
}
h4{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
    padding: 3rem;
    text-align: center;
    font-size: 100%;
}
article{
    border: 20px double #F8BBD0;
    background-color: #f1f3f2;
}
iframe{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    border: 70px solid #F8BBD0;
    background-color:#f1f3f2;
}
.email{
    width: 100%;
    font-size: 100%;
    border:10px solid #F8BBD0;
    padding: 30px;
}
.redes{
    width: 100%;
    height: auto;
    border:10px solid #F8BBD0;
    padding: 30px;
}
.cafe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 10px solid  #F2D7D9;
}
.grillaPadre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    gap: 5px;
}
.encabezado{
    grid-area: header;
}
.pie{
    grid-area: footer;
}
.menu{
    grid-area: main;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1%;
}
.seccion1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion1 img{
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
}
.seccion2 img{
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
}
.seccion3 img{
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
}
.menuPadre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "h2 h2 h2" 
    "titulo1 titulo1 titulo1"
    "tortas tortas tortas"
    "titulo2 titulo2 titulo2"
    "cafe1 cafe2 cafe3";
    gap: 10px;
}
.titulo1{
    grid-area: titulo1;
}
.titulo2{
    grid-area: titulo2;
}
.tortas{
    grid-area: tortas;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 2%;
}

.cafe1{
    grid-area: cafe1;
}
.cafe2{
    grid-area: cafe2;
}
.cafe3{
    grid-area: cafe3;
}
.torta1 img{
    width: 50%;
    height: auto;
    border-radius: 10%;
}
.torta2 img{
    width: 50%;
    height: auto;
    border-radius: 10%;
}
.torta3 img{
    width: 50%;
    height: auto;
    border-radius: 10%;
}
.torta4 img{
    width: 50%;
    height: auto;
    border-radius: 10%;
}
.cafe1 img{
    width: 70%;
    height: auto;
    margin: 10%;
}
.cafe2 img{
    width: 70%;
    height: auto;
    margin: 10%;
}
.cafe3 img{
    width: 70%;
    height: auto;
    margin: 10%;
}
.historia{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.historia img{
    width: 100%;
    height: auto;
    }
.trabajo{
    display: flex;
    flex-direction: column;
}
.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.padreFormulario{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    font-size: 150%;
}
.padrePromociones{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.take{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.take img{
    width: 40%;
    display: flex;
    align-self: center;
}
.grillaHistoria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "articulo1 articulo2 articulo2"
    "articulo1 articulo2 articulo2";
    align-items: center;
}
.articulo1 {
    width: 100%;
    height: 100%;
    margin: 1%;
    grid-area: articulo1;
    }
.articulo1 img{
    width: 90%;
    height: 90%;
}
.articulo2{
    width: 100%;
    height: 100%;
    grid-area: articulo2;
}
iframe{
    width:100%;
    height: 86%;
    
}
/* animaciones servicio trabajando en rama secundaria*/

.avatar1{
    width: 60%;
    height: auto;
    transition: width 3s, height 3s;
}
.avatar1:hover{
    width: 70%;
    height: auto;
    transform: translate(15%);
}
.mapa{
    margin: 5%;
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    transition: width 3s, height 3s; 
}
.mapa:hover{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;

}
.cafe1, .cafe2, .cafe3{
    transition: all, 5s;
}
.cafe1:hover, .cafe2:hover, .cafe3:hover{
    transform: scale(1.3);
}
/* responsive */
@media screen and (max-width: 768px){
    .grillaPadre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    }
    .encabezado{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto; 
        }
    .pie{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto; 
        }
    .menuPadre{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
    }
    .padreLogo{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .padreFormulario{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .padrePromociones{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .grillaHistoria{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .tortas{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
        }         
}
@media screen and (max-width: 375px){

    .grillaPadre{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "header"
    "main"
    "footer";
    }
    .encabezado{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto; 
        }
    .pie{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto; 
        }
        .menuPadre{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
        }
        .padreLogo{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-self: center;
        }
        .padreFormulario{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-self: center;
        }
        .padrePromociones{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .grillaHistoria{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            }
        .tortas{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            }     
} 












