/*paleta de colores
#F49FBC rosa
#274C77 azul titulo
#95F2D9 footer
#6096BA azul variable
#A3CEF1 celeste variable*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Uchen&display=swap');
$titulo: 'Oleo Script Swash Caps', cursive;
$parrafo: 'Uchen', serif;
$tam-titulo: 200%;
$tam-parrafo: 100%;