footer{
    @include medidas-generales;
    p{
        font-family: $parrafo;
        font-size: $tam-parrafo;
    }
    h3{
        font-size: $tam-titulo;
        font-family: $titulo;
        color: #274c77;
    }
    h4{
        @extend h3;
        color: #f1f3f2;
        }
    .email{
            font-size: 100%;
            padding: 30px;
            background-image: url(../img/banner-bg.png);
            background-size: cover;
            align-items: baseline;
            .input-group {
                display: flex;
                align-items: center;
                justify-content: center;
                .input {
                    min-height: 50px;
                    max-width: 200px;
                    padding: 0 1rem;
                    color: #fff;
                    font-size: 15px;
                    border: 1px solid #222831;
                    border-radius: 6px 0 0 6px;
                    background-color: white;
                  }
                  .button--submit {
                    min-height: 50px;
                    padding: .5em 1em;
                    border: none;
                    border-radius: 0 6px 6px 0;
                    background-color: #222831;
                    color: #fff;
                    font-size: 15px;
                    cursor: pointer;
                    transition: background-color .3s ease-in-out;}
                .input:focus, .input:focus-visible {
                border-color: #3898EC;
                outline: none;
                }
            }
        }
    .footer_section {
        background-color: #222831;
        height: auto;
        padding: 50px 0px;
        .useful_text {
            color: #ffffff;
            margin-bottom: 15px;
            font-weight: bold;
            }
        .footer_text {
            width: 100%;
            font-size: 14px;
            color: #ffffff;
            margin: 0px;
            }
        .footer_menu {
            width: 100%;
            ul{ 
                padding: 0;
                list-style: none;
                li{
                    font-family: $parrafo;
                    font-size: 16px;
                    color: #ffffff;
                    padding: 5px;
                    a{
                        color: #ffffff;
                        text-decoration: none;
                        &:hover{
                            color: #95F2D9;
                        }
                    }
                }
            }
        }
        .footer_redes {
            @include medidas-generales;
            @include flex-row;
            gap: 5px;
            @include mobile{
                @include flex-col;
            }
        }     
    }
}
