.grillaPadre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    }
.encabezado{
    grid-area: header;
}
.pie{
    grid-area: footer;
}
.menu{
    grid-area: main;
}
.menuPadre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "h2 h2 h2" 
    "titulo1 titulo1 titulo1"
    "tortas tortas tortas"
    "titulo2 titulo2 titulo2"
    "cafe1 cafe2 cafe3";
    gap: 10px;
    @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.titulo1{
    grid-area: titulo1;
}
.titulo2{
    grid-area: titulo2;
}
.tortas{
    grid-area: tortas;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 2%;
    @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include desktop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.cafe1{
    grid-area: cafe1;
    transition: all, 3s;
    &:hover{transform: scale(1.3);}
    img{
        width: 70%;
        height: auto;
        margin: 10%;
    }
}
.cafe2{
    grid-area: cafe2;
    transition: all, 3s;
    &:hover{transform: scale(1.3);}
    img{
        width: 70%;
        height: auto;
        margin: 10%;
    }
}
.cafe3{
    grid-area: cafe3;
    transition: all, 3s;
    &:hover{transform: scale(1.3);}
    img{
        width: 70%;
        height: auto;
        margin: 10%;
    }
}

.historia{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    img{
        width: 100%;
        height: auto;
    }
} 
.grillaHistoria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "articulo1 articulo2 articulo2"
    "articulo1 articulo2 articulo2";
    align-items: center;
    @include mobile{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
.articulo1 {
    width: 100%;
    height: 100%;
    margin: 1%;
    grid-area: articulo1;
    img{
        width: 90%;
        height: 90%;
        }
    } 
.articulo2{
    width: 100%;
    height: 100%;
    grid-area: articulo2;
    iframe{
        width: 100%;
    }
}

