.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    .take{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 40%;
            display: flex;
            align-self: center;
            }
        }
    .avatar1{
            width: 60%;
            height: auto;
            transition: width 3s, height 3s;
            &:hover{
                width: 70%;
                height: auto;
                transform: translate(15%);
                }
            }
    .mapa{
            margin: 5%;
            width: 50%;
            height: 60%;
            display: flex;
            align-items: center;
            transition: width 3s, height 3s;
            &:hover{
                width: 90%;
                height: 100%;
                display: flex;
                align-items: center;
            } 
        }
}
